@model Factory.Models.Engineer

<h2>Add a machine certification for engineer</h2>

<h4>Add machine certification for: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")

  <button class="btn btn-input" type="submit">Add certification</button>
}

@Html.ActionLink($"Back to engineer {Model.Name}", "Details", new { id = Model.EngineerId }, new {@role="button", @class="btn"})